* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.black__brop {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.catalog__menu {
    position: fixed;
    transform: translateY(-5%);
    opacity: 0;
    left: 5%;
    width: 15%;
    height: 550px;
    margin: 0 auto;
    background: #dad5d5;
    transition: transform 0.4s ease,
                opacity 0.2s ease;
} 

/*.main-catalog {

}*/

.main-catalog__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 1rem 1rem;
}

.main-catalog__item {
    padding-bottom: 1rem;
    color: black;
    transform: translateX(0);
    transition: transform 0.1s ease-out;
}

.main-catalog__item a {
    text-decoration: none;
    color: black;
}

.main-catalog__item:hover {
    transform: translateX(5%);
}

#catalog__one {
    color: black;
}

#catalog__two {
    color: black;
}

.main-catalog__menu__pc {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 0;
    left: 20%;
    width: 75%;
    height: 550px;
    margin: 0 auto;
    padding: 0 1rem;
    background: white;
    transform: translateY(-5%);
    transition: transform 0.4s ease, opacity 0.2s ease;
}

.catalog__menu__pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.catalog__menu__pc__items {
    list-style: none;
    padding: 0;
}

.main-catalog__menu__sp {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 0;
    left: 20%;
    width: 75%;
    height: 550px;
    margin: 0 auto;
    padding: 0 1rem;
    background: white;
    transition: opacity 0.2s ease;
}

.catalog__menu__sp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.catalog__menu__sp__items {
    list-style: none;
    padding: 0;
}

.number {
    background: none;
    border: none;
    color: #F3E8EE;
    cursor: pointer;
}

.number:focus {
    outline: none;
}

.number:hover,
.number:active {
    color: #BACDB0;
}

.number__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 50%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background: white;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.2s ease-out;
}

.number__menu h4 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
}

.close {
    position: absolute;
    right: 32px;
    top: 0.5rem;
    opacity: 0.3;
    background: none;
    border: none;
    }

    .close:hover {
    opacity: 1;
    }

    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: red;
    }

    .close:before {
    transform: rotate(45deg);
    }

    .close:after {
    transform: rotate(-45deg);
    }

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.up__contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0;
    list-style: none;
    font-weight: bold;
    padding: 1rem;
}

.contacts__item p {
    color: black;
    margin-top: 0.5rem;
}

.contacts__item a {
    color: blue;
    text-decoration: none;
}

.call__time {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
}

.call__time__items {
    list-style: none;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2E2C2F;
    z-index: 30;
}

.header-left__items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.left__item {
    margin: 1rem;
}

.left__item a {
    color: #F3E8EE;
    text-decoration: none;
}

.header-rigth__items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rigth__item {
    margin: 1rem;
    color: #F3E8EE;
}

.rigth__item a {
    color: #F3E8EE;
    text-decoration: none;
}

.left__item a:hover,
.left__item a:active,
.rigth__item a:hover,
.rigth__item a:active {
    color: #BACDB0;
}

.header-down__items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 0;
}

.down__item {
    margin: 0.5rem 1rem;
    color: #F3E8EE;
}

.title-down__item {
    font-size: 2.5rem;
}

.down-item__button {
    padding: 0.5rem 1rem;
    background: #2E2C2F;
    border: 1px solid #f3e8ee;
    color: #F3E8EE;
    font-size: 1.1rem;
    transition: background 0.5s ease 0s;
}

.down-item__button:focus {
    outline: none;
}

.down-item__button:hover,
.down-item__button:active {
    background: rgba(243, 232, 238, 0.1);
    transition: background 0.5s ease 0s;
}

#header__input {
    padding: 0.5rem 20rem 0.5rem 0.5rem;
}

.input__button {
    background: #729B79;
    padding: 0.3rem 1rem;
    border: 2px solid #729B79;
    margin: 0;
    font-size: 1.2rem;
    vertical-align: middle;
}

.input__button:focus {
    outline: none;
}

.header-down__rigth {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 3rem;
}

.down__rigth__image_one {
    width: 40px;
    height: 40px;
    margin-right: 3rem;
}

.down__rigth__image_two {
    width: 40px;
    height: 40px;
    margin-right: 3rem;
}

.down__rigth__image_tree {
    width: 40px;
    height: 40px;
    margin-right: 3rem;
}

.down__rigth button {
    background: none;
    border: none;
}

.down__rigth button:focus {
    outline: none;
}

.down__right__down {
    position: fixed;
    width: 500px;
    height: 120px;
    right: 10%;
    background: #F3E8EE;
    box-shadow: 2px 2px 5px 2px black;
    opacity: 0;
    transform: translateY(-5%);
    transition: transform 0.2s ease-out,
                opacity 0.2s ease-in;
}

.down__right__down__two {
    position: fixed;
    width: 500px;
    height: 120px;
    right: 5%;
    background: #F3E8EE;
    box-shadow: 2px 2px 5px 2px black;
    opacity: 0;
    transform: translateY(-5%);
    transition: transform 0.2s ease-out,
                opacity 0.2s ease-in;
}

.down__right__down__tree {
    position: fixed;
    width: 500px;
    height: 120px;
    right: 0;
    background: #F3E8EE;
    box-shadow: 2px 2px 5px 2px black;
    opacity: 0;
    transform: translateY(-5%);
    transition: transform 0.2s ease-out,
                opacity 0.2s ease-in;
}

.down__right__down__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.down__right__down__item img {
    width: 50px;
    height: 50px;
    margin-right: 1.5rem;
}

.down--right__down__item h5 {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
}

.down--right__down__item p {
    font-size: 0.9rem;
}

.city {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 30%;
    width: 40%;
    border-radius: 1rem;
    background: white;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.2s ease;
}

.city__button {
    background: none;
    border: none;
    color: #F3E8EE;
    font-size: 1rem;
    cursor: pointer;
}

.city__button:focus {
    outline: none;
}

.city__button:hover,
.city__button:active {
    color: #BACDB0;
}

.main-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0 0 1rem;
}

.paragraph__up {
    margin: 1rem 0 0.5rem 1rem;
}

.main-list__city {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.list__city {
    margin: 0.5rem auto;
    padding: 0;
}

.list__city a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.Kiev__city {
    border: 1px solid green;
    padding: 0.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0;
}

.input__up {
    font-size: 0.8rem;
}

.input__city input {
    margin-top: 0.2rem;
    padding: 0.2rem 9rem 0.2rem 0;
}

.paragraph__down {
    padding: 0;
    margin: 0.5rem 1rem;
    font-size: 1.1rem;
}

.paragraph__down a {
    color: black;
}

.city__line {
    width: 90%;
    border: 0.3px solid black;
    background: black;
}

.paragraph__down__two {
    font-size: 0.9rem;
    width: 70%;
    margin: 0.5rem 1rem;
}

.sign_in {
    position: fixed;
    display: flex;
    top: 30%;
    left: 29%;
    width: 42%;
    height: 40%;
    border-radius: 1rem;
    padding-left: 0.5rem;
    background: #729B79;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.2s ease-out;
}

.rigth-sign_in__button {
    background: none;
    border: none;
    font-size: 0.9rem;
    color: #F3E8EE;
    cursor: pointer;
}

.rigth-sign_in__button:hover {
    color: #BACDB0;
}

.rigth-sign_in__button:focus {
    outline: none;
}

.sign_in__left {
    display: flex;
    flex-direction: column;
}

.sign_in__left label {
    font-size: 0.9rem;
}

.sign_in__title__left {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#email {
    padding: 0.5rem 8rem 0.5rem 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin: 0 0 1rem 0;
    background: #F3E8EE;
}

#password {
    padding: 0.5rem 8rem 0.5rem 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    background: #F3E8EE;
}

input:focus {
    outline: none;
}

.sign_in__checkbox {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.sign_in__checkbox label {
    font-size: 1rem;
}

.sign_in__button {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    background: #BACDB0;
    border: 1px solid #BACDB0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.sign_in__button:focus {
    outline: none;
}

.sign_in__button:hover,
.sign_in__button:active {
    background: #d3e9c7;
}

.sign_in__reg {
    margin-top: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.sign_in__reg:hover {
    color: #F3E8EE;
}

.sign_in__reg:focus {
    outline: none;
}

.sign_in__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign_in__line {
    transform: rotateZ(90deg);
    border: 0.1px solid black;
    background: black;
    width: 5rem;
    margin: 2.5rem 0;
}

.sing_in_rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_in__title__rigth {
    font-size: 1rem;
    margin-top: 3rem;
}

.sign_in__button__facebook {
    padding: 0.5rem 3rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 2px solid #F3E8EE;
    background: #F3E8EE;
}

.sign_in__button__google {
    padding: 0.5rem 3.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 2px solid #F3E8EE;
    background: #F3E8EE;
}

.sign_in__button__facebook:focus,
.sign_in__button__google:focus {
    outline: none;
}

.sign_in__button__facebook:hover,
.sign_in__button__google:hover {
    color: #292727;
    cursor: pointer;
}

.check_in {
    position: fixed;
    display: flex;
    top: 20%;
    left: 19%;
    width: 60%;
    height: 70%;
    border-radius: 1rem;
    padding-left: 0.5rem;
    background: #729B79;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.2s ease-out;
}

.check_in__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}

.check_in__left__items {
    list-style: none;
    padding: 0;
}

.left--item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.left--item h4 {
    font-size: 2.5rem;
    margin: 0.5rem 1rem;
}

.left--item label {
    font-size: 0.9rem;
}

.left--item input {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}

#password__check_in {
    width: 70%;
    
}

.password__check_in {
  display: flex;
  width: 100%;
  vertical-align: middle;
}

.password__check_in button {
    width: 30px;
    height: 40px;
    vertical-align: middle;
}

.eye__button {
    border: none;
    background: none;
}

.eye__button img {
    width: 20px;
    height: 20px;
}

.eye__button:focus {
    outline: none;
}

.left__item p {
    width: 75%;
    margin-top: 0;
}

.check_in__buttom {
    width: 70%;
    margin: 0.5rem 1rem;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: none;
    background: #BACDB0;
}

.check_in__buttom:hover {
    background: #a0b496;
    cursor: pointer;
} 

.check_in__buttom__two {
    width: 35%;
    margin: 0.5rem 7rem;
    background: none;
    border: none;
}

.check_in__buttom__two:focus,
.check_in__buttom:focus {
    outline: none;
}   

.check_in__buttom__two:hover {
    color: #F3E8EE;
    cursor: pointer;
}

.check_in__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.check_in__center__line {
    height: 13rem;
    transform: rotateZ(180deg);
    margin: 0.2rem 0;
    border: 0.5px solid black;
    background: black;
}

.check_in__rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.check_in__title__rigth {
    font-size: 1.5rem;
    margin-top: 7rem;
}

.check_in__button__facebook {
    padding: 1rem 4rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 2px solid #F3E8EE;
    background: #F3E8EE;
}

.check_in__button__google {
    padding: 1rem 4.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 2px solid #F3E8EE;
    background: #F3E8EE;
}

.check_in__button__facebook:focus,
.check_in__button__google:focus {
    outline: none;
}

.check_in__button__facebook:hover,
.check_in__button__google:hover {
    color: #292727;
    cursor: pointer;
}

.open {
    display: flex !important;
    opacity: 1 !important;
    transform: scale(1) !important;
    transform: translateY(0) !important;
}
