* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-images__center {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 400px;
    margin: 6rem auto;
    overflow: hidden;
}

.center__image1 {
    width: 100%;

    animation: foto 15s ease 2s infinite;
}

.center__image2 {
    width: 100%;

    animation: foto 15s ease 2s infinite;
}

.center__image3 {
  width: 100%;

  animation: foto 15s ease 2s infinite;
}

.center__image4 {
    width: 100%;

    animation: foto 15s ease 2s infinite;
}

@keyframes foto {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}

